<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="7cbbae2a-8c43-493f-b14d-282a6e99c8ba" Publisher="CN=coopp" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Harry.Windows</DisplayName>
    <PublisherDisplayName>coopp</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Harry_Windows.App">
      <m2:VisualElements DisplayName="Harrydactyl" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Fly a Pterodactyl named Harry across a world  filled with dinosaurs and collect as many coins as you can!" ForegroundText="light" BackgroundColor="green">
        <m2:DefaultTile ShortName="Harrydactyl">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="green" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>